.floating-name{
   margin-bottom: 200px; 
   color:white;
   text-shadow: 1px 1px 1px black;
   font-family: "Adobe Garamond Pro";
}
.floating-name h2{
   font-size: 50px;
}
.floating-name h4{
   font-size: 30px;
}
.container-detail {
    display: block;
  padding: 20px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #e9eaec;
  border: 1px solid #A5A5A5;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.stats-container {
   margin-top:20px;
}
.object {
    padding-bottom:30px;
}
.info {
    float:right;
}
.objectsSelect {
    margin-bottom: 3px;
}
.objectImage {
    float:left;
    padding-right:15px;
}
.objectsContainer {
    margin-top: 30px;
    overflow:hidden;
}